body {
    text-align: center;
    
}

.Yugioh-card img{
    width: 216px;
    height: 360px;
    margin-top: 200px;
    margin-left: 3px;
    
}

#Back {
    width: 216px;
    height: 360px;
    margin-top: 200px;
}

#Open {
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

#View {
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

#YDK {
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

img.anim {
    transition: transform 0.3s ease;
}

img.anim:hover {
    transform: scale(1.1);
}